---
import Section from "./sections/Section.astro";

import { certificates } from "@cv";
---

<Section title="Cursos y Certificaciones">
  <ul>
    {
      certificates.map(({ name, date, issuer }) => {
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{name}</h3>
                </div>

                <time>{date}</time>
                <p>{issuer}</p>
              </header>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
